*{
  box-sizing: border-box; 
  font-family: Montserrat sans-serif 'Times New Roman', Times, serif;

}
body{
    padding:0px;
    margin:0px;
    background-color:white;
}
 #container{
    width:75%;
    min-height:100vh;
    margin:0 auto;
    border-left:20px groove black;
    border-right:20px groove black;
 }
 #title{
    padding:0;
    margin:0;
    text-align: center;
 }
 #form-card{
    width:95%;
    height:300px;
    box-shadow: 0 0 10px 0 #ddd;
    border:1px solid #ccc;
    border-radius:16px;
    margin:24px 24px;
    padding:24px;
 }
 #marksheet-form{
    display:flex;
 }
 #marksheet-form-div{
    display: flex;
    flex-direction:column;
    gap: 6px;
 }
